@font-face {
  font-family: "iconfont"; /* Project id 4165130 */
  src: url('iconfont.woff2?t=1699886277479') format('woff2'),
       url('iconfont.woff?t=1699886277479') format('woff'),
       url('iconfont.ttf?t=1699886277479') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e670";
}

.icon-download:before {
  content: "\e66f";
}

.icon-calendar:before {
  content: "\e66e";
}

.icon-add-law:before {
  content: "\e665";
}

.icon-quanburenwu-gengduocaozuo:before {
  content: "\e66d";
}

.icon-law-pdf:before {
  content: "\e66c";
}

.icon-law-word:before {
  content: "\e66b";
}

.icon-jianguantongbao1:before {
  content: "\e66a";
}

.icon-neibuzhidu1:before {
  content: "\e669";
}

.icon-gengduo2:before {
  content: "\e8af";
}

.icon-fenxiang:before {
  content: "\e739";
}

.icon-fagui1:before {
  content: "\e666";
}

.icon-jianguantongbao:before {
  content: "\e667";
}

.icon-neibuzhidu:before {
  content: "\e668";
}

.icon-fagui:before {
  content: "\e664";
}

.icon-Frame3:before {
  content: "\e663";
}

.icon-a-Component133:before {
  content: "\e65f";
}

.icon-a-Component132:before {
  content: "\e662";
}

.icon-a-Component131:before {
  content: "\e661";
}

.icon-a-Component13:before {
  content: "\e660";
}

.icon-dianjitianjiapizhu:before {
  content: "\e65e";
}

.icon-Frame2:before {
  content: "\e65d";
}

.icon-Frame1:before {
  content: "\e65c";
}

.icon-a-tubiaoguding:before {
  content: "\e65b";
}

.icon-compare:before {
  content: "\e65a";
}

.icon-zhengzaishangchuan:before {
  content: "\e659";
}

.icon-tuichudenglu:before {
  content: "\e658";
}

.icon-tubiao4:before {
  content: "\e657";
}

.icon-Vector:before {
  content: "\e656";
}

.icon-fuzhi1:before {
  content: "\e655";
}

.icon-jiantou:before {
  content: "\e652";
}

.icon-zhiding:before {
  content: "\e653";
}

.icon-yinyong:before {
  content: "\e654";
}

.icon-a-tubiaotianjiabiaoqian:before {
  content: "\e60d";
}

.icon-a-tubiaodaochu:before {
  content: "\e620";
}

.icon-ocr:before {
  content: "\e64f";
}

.icon-heduiyaodian:before {
  content: "\e650";
}

.icon-tuihui1:before {
  content: "\e651";
}

.icon-a-tubiao1:before {
  content: "\e60c";
}

.icon-bi:before {
  content: "\e64d";
}

.icon-gerenyonghutouxiang2:before {
  content: "\e7e5";
}

.icon-tongyongtubiao5:before {
  content: "\e64e";
}

.icon-tongyongtubiao3:before {
  content: "\e64c";
}

.icon-fuzhi:before {
  content: "\e64b";
}

.icon-fanhui1:before {
  content: "\e649";
}

.icon-baocun:before {
  content: "\e64a";
}

.icon-zhuanban1:before {
  content: "\e647";
}

.icon-gengduo:before {
  content: "\e648";
}

.icon-tongzhi:before {
  content: "\e646";
}

.icon-paixu:before {
  content: "\e645";
}

.icon-tishi1:before {
  content: "\e642";
}

.icon-yaodianhedui:before {
  content: "\e643";
}

.icon-zhinengshenpi:before {
  content: "\e644";
}

.icon-xinjiangongdan:before {
  content: "\e641";
}

.icon-picture:before {
  content: "\e611";
}

.icon-zip1:before {
  content: "\e616";
}

.icon-file-txt:before {
  content: "\e63f";
}

.icon-mp4:before {
  content: "\e640";
}

.icon-file-ppt:before {
  content: "\e610";
}

.icon-a-Ellipse313:before {
  content: "\e60f";
}

.icon-xiaoxi-tongzhi:before {
  content: "\e6a3";
}

.icon-tiaojian-fenzhi:before {
  content: "\e60e";
}

.icon-xitong-juese:before {
  content: "\e6a4";
}

.icon-clear:before {
  content: "\e6a6";
}

.icon-qixian:before {
  content: "\e60b";
}

.icon-wenhao:before {
  content: "\e60a";
}

.icon-shenpi-tongyi:before {
  content: "\e607";
}

.icon-form-desc:before {
  content: "\e608";
}

.icon-form-name:before {
  content: "\e609";
}

.icon-zhuanban:before {
  content: "\e606";
}

.icon-multiple-user:before {
  content: "\e605";
}

.icon-reject:before {
  content: "\e604";
}

.icon-setting-user:before {
  content: "\e602";
}

.icon-shenpi:before {
  content: "\e615";
}

.icon-user:before {
  content: "\e603";
}

.icon-mind-mapping:before {
  content: "\e601";
}

.icon-xiazai:before {
  content: "\e62e";
}

.icon-quanping:before {
  content: "\e62f";
}

.icon-zip:before {
  content: "\e630";
}

.icon-shouqi:before {
  content: "\e631";
}

.icon-zhankai:before {
  content: "\e632";
}

.icon-fanhui:before {
  content: "\e633";
}

.icon-tijiao:before {
  content: "\e634";
}

.icon-shenqingdan:before {
  content: "\e635";
}

.icon-zhuanfa:before {
  content: "\e636";
}

.icon-tuihui:before {
  content: "\e637";
}

.icon-yijianshu:before {
  content: "\e638";
}

.icon-ciku:before {
  content: "\e639";
}

.icon-jilumingxi:before {
  content: "\e63b";
}

.icon-xiangsianli:before {
  content: "\e63c";
}

.icon-tishi:before {
  content: "\e63d";
}

.icon-shenpixinxi:before {
  content: "\e63e";
}

.icon-chanpin1:before {
  content: "\e62d";
}

.icon-baocuo1:before {
  content: "\e62b";
}

.icon-chenggong1:before {
  content: "\e62c";
}

.icon-jinggao1:before {
  content: "\e63a";
}

.icon-tongyongtubiao:before {
  content: "\e621";
}

.icon-tongyongtubiao1:before {
  content: "\e622";
}

.icon-tongyongtubiao-1:before {
  content: "\e623";
}

.icon-chanpin:before {
  content: "\e624";
}

.icon-a-Rectangle143:before {
  content: "\e625";
}

.icon-mianxingtubiao:before {
  content: "\e626";
}

.icon-mianxingtubiao-1:before {
  content: "\e627";
}

.icon-mianxingtubiao-2:before {
  content: "\e628";
}

.icon-Frame:before {
  content: "\e629";
}

.icon-tongyongtubiao2:before {
  content: "\e62a";
}

.icon-shenpiyemiantubiao:before {
  content: "\e612";
}

.icon-guanzhu:before {
  content: "\e613";
}

.icon-tubiao:before {
  content: "\e614";
}

.icon-guanzhu-1:before {
  content: "\e617";
}

.icon-tubiao1:before {
  content: "\e618";
}

.icon-xianxingtubiao-1:before {
  content: "\e619";
}

.icon-xianxingtubiao:before {
  content: "\e61a";
}

.icon-guanzhu1:before {
  content: "\e61b";
}

.icon-tubiao-1:before {
  content: "\e61c";
}

.icon-guanzhu2:before {
  content: "\e61d";
}

.icon-tubiao2:before {
  content: "\e61e";
}

.icon-tubiao3:before {
  content: "\e61f";
}

.icon-dept:before {
  content: "\e6a5";
}

