html,
body,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ol,
form,
input,
textarea,
th,
td,
select {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

html {
  font-size: 12px
}

@media screen and (min-width: 1800px) {
  html {
    font-size: 14px
  }
}

body {
  min-width: 1150px;
  color: #333;
  // overflow-y: hidden;
  overflow-x: auto;
  background-color: #F3F3F5;
  * {
    font-family: "Microsoft YaHei" !important;
  }
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
  opacity: 0.4;
}

::-webkit-scrollbar-track {
  background-color: none;
  border-radius: 6px;
  opacity: 0.4;
}

::-webkit-scrollbar-track-piece {
  width: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #CACDD3;
  opacity: 0.4;
}
*::-webkit-scrollbar {
  width: 0px;
}
.trs-scroll{
  &::-webkit-scrollbar {
    width: 8px !important;
    height: 8px;
    opacity: 0.4;
  }

  &::-webkit-scrollbar-track {
    background-color: none;
    border-radius: 6px;
    opacity: 0.4;
  }

  &::-webkit-scrollbar-track-piece {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #CACDD3;
    opacity: 0.4;
  }
}
.el-table{
  ::-webkit-scrollbar {
    width: 8px !important;
    height: 8px;
    opacity: 0.4;
  }

  ::-webkit-scrollbar-track {
    background-color: none;
    border-radius: 6px;
    opacity: 0.4;
  }

  ::-webkit-scrollbar-track-piece {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #CACDD3;
    opacity: 0.4;
  }
}
body.overflow {
  overflow-y: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

ul,
ol {
  list-style: none;
}

img {
  border: none;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #2D5CF6;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

input,
textarea {
  outline: none;
  border: none;
  &::-webkit-credentials-auto-fill-button {
    display: none !important;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    right: 0;
  }
  &:focus::-webkit-contacts-auto-fill-button{
    opacity: 0;
  }
}

textarea {
  resize: none;
  overflow: auto;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: ".";
  width: 0;
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
  overflow: hidden;
}

.bold {
  font-weight: bold;
}

.fl {
  float: left
}

.fr {
  float: right
}

.tl {
  text-align: left;
}

.tc {
  text-align: center
}

.tr {
  text-align: right;
}

.headr-back {
  color: #3780f3;
  font-weight: bold;
  font-size: 12px;
  position: absolute;
  left: 205px;
}

.pointer {
  cursor: pointer;
}

.inline {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  color: #c5a243;
}

.border-shadow {
  box-shadow: 0 2px 12px 0 rgba(149, 182, 187, 0.1);
}

.chain-history {
  box-shadow: 0 2px 12px 0 rgba(149, 182, 187, 0.7) !important;
}

.bdr-4 {
  border-radius: 4px;
}

.titleFont {
  text-align: left;
  font-weight: bold;
  /* color: #222222; */
  font-size: 16px;
}

.text-right {
  text-align: right;
}

.flex {
  display: flex;
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
}

i {
  font-style: normal;
}
/* 禁止 DIV 中的文本被鼠标选中 */
.user-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.justify-content_flex-justify {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.justify-content_flex-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.align-items_flex-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.commonTable.el-table {
  color: #434343;
}

.commonTable.el-table .el-table__header-wrapper {
  border-radius: 8px 8px 0px 0px;
}

.commonTable.el-table th {
  background: #F3F3F5;
  color: #121212;
  padding: 0;
  font-weight: 500;
}

.commonTable.el-table th .cell,
.commonTable.el-table td .cell {
  padding: 14px 20px;
  font-size: 20px;
  line-height: 32px;
}

.commonTable.el-table th {
  .el-icon-question {
    color: #D9D9D9;
  }
}

.followPop {
  text-align: center;
  padding: 6px 12px;
  min-width: 80px;

  .el-button {
    size: 14px;
  }
}

[class*='ellipsis'] {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.ellipsis_1 {
  -webkit-line-clamp: 1;
}

.ellipsis_2 {
  -webkit-line-clamp: 2;
}

.ellipsis_3 {
  -webkit-line-clamp: 3;
}

.ellipsis_4 {
  -webkit-line-clamp: 4;
}

// 对elementUI部分样式通用修改
.red6 {
  color: #EB5757;
}

// 单选样式调整
.el-radio {
  color: #1D2128;
  margin-right: 24px;

  .el-radio__input {
    &.is-checked {
      .el-radio__inner {
        background: #ffffff;

        &::after {
          background: #2D5CF6;
          width: 10px;
          height: 10px;
        }
      }

      &+.el-radio__label {
        color: #2D5CF6;
      }

    }

    &.is-disabled {
      .el-radio__inner {
        border-color: #ACB1B9;

        &::after {
          background: #ACB1B9;
        }
      }

      &+.el-radio__label {
        color: #ACB1B9;
      }
    }

    .el-radio__inner {
      border-color: #2D5CF6;
      width: 18px;
      height: 18px;
    }
  }

  .el-radio__label {
    padding-left: 8px;
  }
}

// 多选
.el-checkbox {
  font-size: 12px;

  .el-checkbox__input {
    .el-checkbox__inner {
      border-color: #2D5CF6;
    }
  }

  &.is-checked {
    .el-checkbox__inner {
      background-color: #2D5CF6;
      border-color: #2D5CF6;
    }

    .el-checkbox__label {
      color: #2D5CF6;
    }
  }
}

// 分页器
.pagination.el-pagination {
  text-align: right;
  margin-top: 16px;
  color: #1D2128;

  .el-pagination__total,
  .btn-prev>i,
  .btn-next>i {
    color: #88909B;
    font-size: 12px;
    line-height: 24px;
    height: 24px;
    font-weight: normal;
  }

  span:not([class*="suffix"]),
  button {
    color: #8c8c8c;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
  }

  .el-pager {
    li {
      font-size: 12px;
      font-weight: normal;
      min-width: auto;
      padding: 0 8px;
      height: 24px;
      line-height: 24px;

      &:hover {
        color: #2D5CF6;
      }
    }

    li.active {
      background: #2D5CF6;
      color: #ffffff;
      border-radius: 4px;
    }
  }

  &.noBg {
    button {
      background: none;

      &:disabled {
        background: none;
      }
    }

    .el-pager {
      li {
        margin: 0;
        // background: none;

        &.active {
          background: #2D5CF6;
        }
      }
    }
  }
}

// 对elementUI部分样式通用修改
.el-button {
  font-size: 14px;
  // padding: 8px 20px;
  text-align: center;

  &.el-button--default {
    border: 1px solid #2D5CF6;
    color: #2D5CF6;
    background: #ffffff;

    &:hover {
      border-color: #2D5CF6;
      color: #2D5CF6;
      background: #ffffff;
    }
  }

  &.el-button--primary {
    background: #2D5CF6;
    border-color: #2D5CF6;
    color: #ffffff;

    &:hover {
      border-color: #2D5CF6;
      background: #2D5CF6;
      color: #ffffff;
    }
  }
  &.el-button--text {
    color: #2D5CF6;

    &:hover {
      color: #2D5CF6;
    }
  }
  &.el-button--text.red {
    color: #EB5D78;

    &:hover {
      color: #EB5D78;
    }
  }
  

  &.el-button--danger {
    background: #EB5757;
    color: #ffffff;

    &:hover {
      border-color: #EB5757;
    }
  }
}
.el-switch.is-checked .el-switch__core {
  border-color: #2D5CF6;
  background-color: #2D5CF6;
}
// 表格
.elTable {
  border-radius: 6px;
  overflow: hidden;
  text-align: left;
  color: #505968;
  .el-table__body td > .cell:empty::before{
    content: '-';
    display: inline-block;
  }
  .caret-wrapper{
    height: 20px;
    .sort-caret.ascending{
      top: -1px;
    }
    .sort-caret.descending{
      bottom: -1px;
    }
  }

  &.el-table {
    width: 100%;

    .el-table__header-wrapper table,
    .el-table__body-wrapper table {
      width: 100%;
    }

    .el-table__body,
    .el-table__footer,
    .el-table__header {
      table-layout: auto;
    }
  }

  &::before {
    display: none;
  }

  &.el-table--border {
    .el-table__row {
      &+.el-table__row {
        border-top: 1px solid #EBEEF5;
      }

      .el-table__cell {
        &+.el-table__cell {
          border-left: 1px solid #EBEEF5;
        }
      }
    }
  }

  .cell {
    font-size: 12px;
    line-height: 20px;
  }

  thead {
    color: #505968;
    font-weight: bold;

    th.el-table__cell {
      &.is-leaf {
        border: none;
      }

      background: #F0F6FF;
      padding: 8px 0;

      .cell {
        padding-left: 20px;
      }
    }
  }

  tbody {
    td.el-table__cell {
      background: #ffffff !important;
      border: none;
      padding: 8px 0;

      .cell {
        padding-left: 20px;
      }
    }

    .el-table__row--striped {
      td.el-table__cell {
        background: rgba(240, 246, 255, 0.4) !important;
      }
    }
  }
}

// message
.el-message-box {
  .el-message-box__content {
    text-align: center;
  }

  .el-message-box__btns {
    text-align: center;

    button {
      padding: 5px 34px;

      &:first-child {
        border: 1px solid #E5E6EB;
        color: #1D2128;
      }
    }

    button:nth-child(2) {
      margin-left: 24px;
    }
  }
}

.el-message {
  background: #FFFFFF !important;
  box-shadow: 0px 0px 10px rgba(67, 67, 67, 0.1) !important;
  border-radius: 6px;
  border: none;

  .el-message__content {
    color: #1D2128;
    font-size: 14px;
    line-height: 24px;
  }

  &.el-message--success {
    >i {
      font-family: "iconfont" !important;
      font-size: 20px;

      &::before {
        content: "\e62c";
      }
    }
  }

  &.el-message--warning {
    >i {
      font-family: "iconfont" !important;
      font-size: 20px;

      &::before {
        content: "\e63a";
      }
    }
  }

  &.el-message--error {
    >i {
      font-family: "iconfont" !important;
      font-size: 20px;

      &::before {
        content: "\e62b";
      }
    }
  }
}

// 下拉框，级联选择器
.el-select-dropdown {
  border: none;
  box-shadow: 0px 0px 10px rgba(67, 67, 67, 0.1);
  border-radius: 6px;
  .is-multiple .el-select-dropdown__item.selected{
    color: #2D5CF6;
  }
  .el-select-dropdown__item {
    &.selected {
      color: #2D5CF6 !important;
    }
  }

  .popper__arrow {
    border: none;
    -webkit-filter: drop-shadow(0 2px 12px rgba(67, 67, 67, 0.1));
    filter: drop-shadow(0 2px 12px rgba(67, 67, 67, 0.1));
  }
}

.el-cascader__dropdown {
  border: none;
  box-shadow: 0px 0px 10px rgba(67, 67, 67, 0.1);
  border-radius: 6px;

  .el-cascader-node {

    &.is-active,
    &.in-checked-path {
      color: #2D5CF6;
    }
  }

  .popper__arrow {
    border: none;
    -webkit-filter: drop-shadow(0 2px 12px rgba(67, 67, 67, 0.1));
    filter: drop-shadow(0 2px 12px rgba(67, 67, 67, 0.1));
  }
}

// 含左侧导航的container布局
.container_with_leftNav {
  display: flex;
  padding: 16px 40px;

  >div {
    height: 100%;
  }

  .left_list {
    width: 232px;
    background-color: #ffffff;
    padding: 16px 0px;
    margin-right: 16px;
    font-size: 14px;
    line-height: 24px;
    border-radius: 6px;

    .el-menu-item {
      margin: 0 16px;

      &:hover {
        background: initial;
      }
    }

    .el-menu-item.is-active {
      color: #2d5cf6;
      font-weight: bold;
      border-radius: 6px;
      background: #f3f3f5;
    }

    .el-menu {
      border: none;

      .el-menu--inline {
        padding: 8px 0;
        background: #fafafa;
      }
    }

    .el-submenu__title:hover {
      background: none;
    }
  }

  .right_content {
    flex: 1;
  }
}

// 左侧菜单
.left_list,
.drawer_leftMenu {
  .el-menu-item {
    margin: 0 16px;

    &:hover {
      background: initial;
    }
  }

  .el-menu-item.is-active {
    color: #2d5cf6;
    font-weight: bold;
    border-radius: 6px;
    background: #f3f3f5;
  }

  .el-menu {
    border: none;

    .el-menu--inline {
      padding: 8px 0;
      background: #fafafa;
    }
  }

  .el-submenu__title:hover {
    background: none;
  }
}

// 带右键功能的  card
.trs-card {
  &_header {
    display: flex;
    justify-content: space-between;
    line-height: 24px;

    &_header-title {
      flex: 1;
      text-align: left;
    }

    .gengduo {
      cursor: pointer;
      margin-left: 10px;
      color: #ACB1B9;
    }
  }
  &-desc {
    color: #88909b;
    margin: 8px 0;
    text-align: left;
    min-height: 16px;
  }
}

// 右键功能，弹框固定样式
.vue-contextmenu-listWrapper {
  box-shadow: 0px 0px 10px rgba(67, 67, 67, 0.1) !important;
  border-radius: 4px;
  padding: 24px;

  .context-menu-list {

    color: #1D2128;
    margin: 0 !important;

    &+.context-menu-list {
      margin-top: 16px !important;
    }

    &:hover {
      background: #fff !important;
    }

    .nav-name-right,
    .btn-wrapper-simple {
      margin: 0;
      padding: 0;
      font-size: 12px !important;
      line-height: 20px !important;
    }
  }
}

// 部分二次确认弹框样式
.clearEdit_message {
  .el-message-box__content {
    color: #1d2128;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    padding-top: 30px;
  }

  .el-message-box__btns {
    padding: 30px 15px 50px;
  }

  &.del_message {
    .el-message-box__btns {
      .el-button--primary {
        background: #EB5757;
        border-color: #EB5757;
      }

    }
  }
}

// 无数据样式，使用例：<p class="noDataP"></p>
.noDataP {
  text-align: center;
  width: 100%;
  padding: 20px 0;

  &::before {
    content: " ";
    // background-image: url("../image/noData.png");
    width: 60px;
    height: 40px;
    display: block;
    margin: 0 auto;
  }

  &::after {
    content: "暂无数据";
    font-size: 10px;
    line-height: 18px;
    color: #88909B;
  }
}

.grag-size10 {
  font-size: 12px;
  transform: scale(0.83);
  transform-origin: 0 0;
  color: #88909B;
}

// 可折叠左侧导航样式
.foldIcon_menu {
  display: none;
}

.el-drawer__wrapper {
  .drawer_leftMenu {
    height: auto;
    width: 264px !important;
    top: 76px;
    bottom: auto;
    max-height: calc(100vh - 76px);
    box-shadow: none;
    position: relative;
    background: none;

    .el-drawer__body {
      display: flex;

      .el-menu {
        width: 232px;
        border: none;
      }

      .foldIcon_menu_close {
        font-weight: bold;
        box-shadow: none;
        right: 0;
        left: auto;
        top: 0;
        font-weight: bold;
      }
    }
  }
}

@media screen and (max-width: 1330px) {
  .container_with_leftNav {
    position: relative;

    .left_list {
      display: none;
    }

    .foldIcon_menu {
      display: block;
      position: absolute;
      left: 0;
      top: 16px;
      color: #88909b;
      background: #ffffff;
      padding: 9px;
      font-size: 14px;
      box-shadow: 0px 0px 10px rgba(67, 67, 67, 0.1);
      border-radius: 0px 4px 4px 0px;
      cursor: pointer;
    }
  }
}

// font-size 10px
.fontSize10 {
  font-size: 12px;
  display: inline-block;
  -webkit-transform: scale(0.83);
  transform: scale(0.83);
  transform-origin: 0 0;
}

.article-main img {
  max-width: 100%;
}

// 表格可选
.orderColumns.el-popover {
  /*  position: fixed;
   z-index: 1001; */
  border: none;
  box-shadow: none;
  padding: 0;

  .vue-contextmenu-listWrapper {
    background: #ffffff;
    padding: 20px 16px;
    font-size: 12px;
    line-height: 20px;
    color: #505968;
    text-align: left;

    .el-checkbox__input.is-checked .el-checkbox__inner,
    .el-checkbox__input.is-indeterminate .el-checkbox__inner {
      background: #2D5CF6;
      border-color: #2D5CF6;
    }

    .el-checkbox__inner:hover {
      border-color: #2D5CF6;
    }

    .el-checkbox__label {
      color: #505968 !important;
    }

    .el-checkbox-group {
      border-top: 1px solid #E5E6EB;
      padding-top: 20px;
      margin-top: 16px;
      max-height: 50vh;
      overflow-y: auto;
      display: block;

      .el-checkbox {
        display: block;
        margin: 0;
        text-align: left;

        /* &::before {
          content: "\e618";
          font-family: "iconfont";
          font-size: 16px;
          padding-right: 8px;
          color: #88909B;
        } */

        &+.el-checkbox {
          margin-top: 24px;
        }
      }
    }
  }

}

.el-popover {
  // border: none;

  &.tooltip_content {
    max-width: 80vw;
    .content{
      max-height: 50vh;
      overflow-y: auto;
      line-height: 24px;
      padding: 10px;
    }
  }
}
.atooltip{
  &.is-light{
    border:none;
    box-shadow: 0px 0px 50px gainsboro;;
  }
}
.optionsContent{
  .el-select-dropdown__item{
      height: 50px;
      line-height: 20px;
      display: flex;
      /* align-items: center; */
      flex-direction: column;
      justify-content: center;
  }

.el-select-dropdown__item.selected .tip{
  font-weight: 400;
  color: #2D5CF6;
}
}
// 通用的tag
.tag-green {
  background: #F6FFED;
  color: #52C41A;
  font-size: 12px;
  border-radius: 4px;
  padding: 2px 5px;
  margin-right: 5px;
}
.tag-blue {
  background: #F0F6FF;
  color: #2D5CF6;
  font-size: 12px;
  border-radius: 4px;
  padding: 2px 5px;
  margin-right: 5px;
}
.tag-blue2 {
  color: #4130FD;
  background: #E8ECFF;
}
.tag-brown {
  background: #F9F7EA;
  color: #C98B31;
  font-size: 12px;
  border-radius: 4px;
  padding: 2px 5px;
  margin-right: 5px;
}
.tag-gray {
  background: #F3F3F5;
  color: #88909B;
  font-size: 12px;
  border-radius: 4px;
  padding: 2px 5px;
  margin-right: 5px;
}
.hover{
  cursor: pointer;
}
.el-select-dropdown__item{
  font-weight: normal;
}

.headerLevel1 {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  height: 36px;
  color: #1d2128;
  position: relative;
  margin-bottom: 16px;
}
.headerLevel1::before {
  content: '';
  display: inline-block;
  width: 4px;
  height: 16px;
  background: #2d5cf6;
  border-radius: 4px;
  margin-right: 8px;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.confirmBox {
  width: 500px;

  padding: 0px 0px 24px;
  border-radius: 10px;

  .el-message-box__content {
      height: 160px;

      .el-message-box__container {
          height: 100%;
      }
  }

  .el-message-box__status {
      top: 0;
      left: 50%;
      transform: translateX(-50%);

  }

  .el-message-box__message {
      position: absolute;
      top: 90px;
      width: 100%;
      text-align: center;
  }

  .el-message-box__status::before {
      font-size: 54px;
  }

  .el-message-box__btns {
      .el-button--default {
          border-radius: 6px;
          border: 1px solid #CACDD3 !important;
          color: #1D2128;
          text-align: center;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px;
          /* 157.143% */

      }

      .el-button--primary {
          color: #FFF;
          border: none !important;
          border-radius: 6px;
          background: linear-gradient(90deg, #2F54EB 0%, #5196FF 100%);
      }
  }


}
.el-tooltip__popper.is-dark{
  background: #505968;
}
.el-tooltip__popper .popper__arrow{
  border-color: #50596800;
}
.el-input.is-disabled .el-input__inner{
  color: #86909C;
}